{#
/**
 * @file
 * Olivero's theme Get Started section.
 *
 * This section is enabled when no front page content has been populated.
 *
 * TODO:
 * - Move this markup into Drupal's core Frontpage Views.
 * - Translate/localize this page for different languages.
 */
#}

{% set drupal_community = 'https://www.drupal.org/community' %}
{% set drupal_values = 'https://www.drupal.org/about/values-and-principles' %}
{% set drupal_user_guide = 'https://www.drupal.org/docs/user_guide/en/index.html' %}
{% set create_content = '/node/add' %}
{% set drupal_extend = 'https://www.drupal.org/docs/extending-drupal' %}
{% set drupal_global_training_days = 'https://groups.drupal.org/global-training-days' %}
{% set drupal_events = 'https://www.drupal.org/community/events' %}
{% set drupal_slack = 'https://www.drupal.org/slack' %}
{% set drupal_chat = 'https://www.drupal.org/drupalchat' %}
{% set drupal_answers = 'https://drupal.stackexchange.com/' %}

<div class="text-content">
</div>
